html {
    width: 100%;
    height: 100%;        
}
body {
    font-family: monospace;    
    width: 100%;
    height: 100%;    
    margin: 0;
    box-sizing: border-box;
    padding: 5px;
}

#calculator {
    display: grid;    
    height: 100%;
    width: 100%;
    grid-template: repeat(6, 1fr) / repeat(4, 1fr);
}

#calculator .result-container {
    grid-column: 1 / span 4;
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(31, 29, 29);
    color: white;
    position: relative; 
    margin-bottom: 5px;   
    padding: 5px;
}

#calculator .result-container #result {
    position:absolute;
    right:5px;    
    font-size: x-large;
    font-weight: bold;
}

#calculator .result-container #operation {
    position: absolute;
    top: 2px;
    left: 2px;    
    font-weight: bold;
}

#calculator button{
    border-radius: 10px;
    outline: none;
    margin: 1px;
}

#calculator #equals {
    grid-column-start: 4; 
    grid-row: 3 / span 4;
}

#calculator #clear {
    grid-column: 2 / span 2;
}
